body {
  margin: 0;
  font-family: "Lato", sans-serif
}

.app {
  width: 100vw;
  height: 100vh;
  background: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  width: 800px;
  height: 500px;
  background: #fff;
}
